/* TextUpdaterNode.css */

.text-updater-node {
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
  } 
  .bottom {
    display:table;
    flex-grow:1;
  }
  .id{ 
    font-size: 30px;  
    display: table-row;
  }
  #qrcode{  
    display: table-row; 
  }
  tr {
    padding: 10px;
    margin:30px;
}
